language: android

android:
  components:
    - build-tools-20.0.0
    - android-17

jdk:
  - oraclejdk7
  - oraclejdk8

after_success:
  - .buildscript/deploy_snapshot.sh

env:
  global:
    - secure: "jpcnT7u80SX1SngObG41hZ0OarA3bje69YAV9t8daYCtNpu/RHoNjYhBmpCBZoEuL0zst7r5CmTkFSAf/V7CXnuUaYfeKCPo1LLZDBYIGgUYutGSJ1JkEby3eytek4HevG8hsjMOrhdQT27qyZ3ESNvW8JgpLd/R06/64SLbhWM="
    - secure: "paXM9hwEIfdDo25fxLlVj9UbKPBx5HvOz/ehRr150SBxY9XhwXV3PkcII483vlmYiSE0yKKanSf5CDpteV1wRnQPUxF4QzyXmcwiDektV6ld7/qHRXWeZ89Bt3S8GZ5MEZSDhF6cmq5Ivi6v/5gvlobnTw1Vp55idbJZ94EdE7g="

branches:
  except:
    - gh-pages

notifications:
  email: false

sudo: false

cache:
  directories:
    - $HOME/.m2
